.dashboardhead {
  margin-top: 5px;
  font-size: 26px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: navy;
}
.conta {
  padding: 30px !important;
}
.itemsdashboard {
  margin-top: 5px;
}
.blackDiv,
.purpDiv,
.redDiv {
  color: white;
  margin-right: 32px;
  height: 150px;
  border-radius: 4px;
  border: 2px solid transparent;
}
.blackDiv:hover,
.purpDiv:hover,
.redDiv:hover {
  cursor: pointer;
  border: 2px solid rgb(1, 238, 1);
}
.blackDiv {
  background-color: black;
}
.purpDiv {
  background-color: purple;
}
.redDiv {
  background-color: red;
}
.insideDivHead {
  margin-top: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  font-size: 17px;
}
.insideDivDesc {
  line-height: 52px;
  font-size: 55px;
  font-weight: 700;
}
.newBooking {
  margin-top: 70px;
}
.borderAround1,
.borderAround2 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.borderAround1 {
  margin-right: 30px;
  margin-left: 15px;
}
.borderAround2 {
  margin-left: 15px;
}
.submitBtnDvi {
  margin-top: 32px;
  margin-bottom: 32px;
}
.asdfsdl {
  color: rgb(5, 199, 199);
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  font-weight: 600;
}

.container .card {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  border-radius: 0px;
}

.container .card .img-box {
  width: 80px;
  height: 50px;
}

.container .card img {
  width: 100%;
  object-fit: fill;
}

.container .card .number {
  font-size: 24px;
}

.container .card-body .btn.btn-primary .fab.fa-cc-paypal {
  font-size: 32px;
  color: #3333f7;
}

.fab.fa-cc-amex {
  color: #1c6acf;
  font-size: 32px;
}

.fab.fa-cc-mastercard {
  font-size: 32px;
  color: red;
}

.fab.fa-cc-discover {
  font-size: 32px;
  color: orange;
}

.c-green {
  color: green;
}

.form__div {
  height: 50px;
  position: relative;
  margin-bottom: 24px;
}

.form-control {
  width: 100%;
  height: 45px;
  font-size: 14px;
  border: 1px solid #dadce0;
  border-radius: 0;
  outline: none;
  padding: 2px;
  background: none;
  z-index: 1;
  box-shadow: none;
}

.form__label {
  position: absolute;
  left: 16px;
  top: 10px;
  background-color: #fff;
  color: #80868b;
  font-size: 16px;
  transition: 0.3s;
  text-transform: uppercase;
}

.form-control:focus + .form__label {
  top: -8px;
  left: 12px;
  color: #1a73e8;
  font-size: 12px;
  font-weight: 500;
  z-index: 10;
}

.form-control:not(:placeholder-shown).form-control:not(:focus) + .form__label {
  top: -8px;
  left: 12px;
  font-size: 12px;
  font-weight: 500;
  z-index: 10;
}

.form-control:focus {
  border: 1.5px solid #1a73e8;
  box-shadow: none;
}

.marginTopClass {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
}
.dateTimePickerss{
  margin-top: 32px;
}
